<nav>
    <div class="nav-wrapper">
        <div class="container">
            <a href="/" class="brand-logo">Rent room</a>
            <a href="" data-activates="mobile-main-nav" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li class=""><a href="#">link1</a></li>
                <li><a href="#">link2</a></li>
                <li><a href="#">link3</a></li>
                <li><a href="#">link4</a></li>
                <li><a href="/signin/"><i class="material-icons right">lock_outline</i>Вход</a></li>
                <li><a href="/signup/"><i class="material-icons right">perm_identity</i>Регистрация</a></li>
            </ul>
            <ul class="side-nav" id="mobile-main-nav">
                <li class=""><a href="#">link1</a></li>
                <li><a href="#">link2</a></li>
                <li><a href="#">link3</a></li>
                <li><a href="#">link4</a></li>
                <li><a href="/signin/"><i class="material-icons right">lock_outline</i>Вход</a></li>
                <li><a href="/signup/"><i class="material-icons right">perm_identity</i>Регистрация</a></li>
            </ul>
        </div>
    </div>
</nav>
