{% extends "/main.html" %}

{% block title %}Account{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col s12">
            <h1> Приветствую, {{ session.account.user_login }}!</h1>
            <p>Твой айди: {{ session.account.user_id }}</p>
            <p>Твоя почта: {{ session.account.user_email }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <a class="waves-effect waves-light btn" href="logout/">Выйти</a>
        </div>
    </div>

</div>

{% endblock %}