{% extends "/main.html" %}

{% block title %}Sign in{% endblock %}

{% block body %}

{% include '/Main/navigation.html' %}

<div class="container">
    <div class="section">
        <h2> Вход в личный кабинет</h2>
        <div class="row">
            <form class="col s12 m2" action="{{ SigninController.userSigninDashboardAction }}" method="post">
                <div class="row">
                    <div class="input-field col s12">
                        <input id="user_login" name="user_login" type="text" value="" class="validate" required>
                        <label for="user_login">Логин</label>
                    </div>
                    <div class="input-field col s12">
                        <input id="user_password" name="user_password" type="password" value="" class="validate" required>
                        <label for="user_password">Пароль</label>
                    </div>
                </div>
                {% if SigninController.errors %}
                    <div class="row">
                        <div class="card-panel">
                                <span class="red-text text-lighten-1">{{ SigninController.errors }}</span>
                            </div>
                    </div>
                {% endif %}
                <div class="row">
                    <button class="btn waves-effect waves-light" type="submit">Войти
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
