<!doctype html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
	    <title>{% block title %}{% endblock %}</title>
		<meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link  rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="/Assets/css/materialize.min.css">
        <link rel="stylesheet" href="/Assets/css/main.css">
    </head>
    <body>
        <!--[if lt IE 9]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        {% block body %}
        {% endblock %}

    <script src="/Assets/js/jquery-3.2.0.min.js"></script>
    <script src="/Assets/js/jquery-migrate-3.0.0.min.js"></script>
    <script src="/Assets/js/materialize.min.js"></script>
    <script src="/Assets/js/app.js"></script>
	</body>
</html>
